@charset "UTF-8";
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: linear-gradient(to right, #FEE5DD, #FAD8CE);
}
main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d3b6ad;
    width: 600px;
    padding: 10px;
    margin: auto
}
h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #0076814b;
    color: #01A1B1;
}
h2 {
    color: #1FBFCB;
}
p {
    text-align: justify;
}